{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ albums[1] }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <style>
            *{
    margin: 0;
    padding: 0;
    }
  
    </style>
</head>
{% block content %}
<body>
    <div class="section">
        <div class="columns is-multiline">
            <div class="column is-three-fifths">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <img src="{{ albums[3] }}" alt="Album Cover">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ albums[1] }}</p>
                                <p class="subtitle is-6">Album Artist: {{ artist[1] }}</p>
                                <p class="subtitle is-8">Release Date: {{ albums[2] }}</p>

                                <div class="rate">
                                    <div class="star-rating" data-rating="3">
                                        {% for i in range(album_details[0][4] | int) %}
                                        <span class="star" style="color: #FFD700;">&#9733;</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <a href="{{ url_for('getAlbumReview', album=albums[0]) }}" class="button is-info">Go to Album Review</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for song in album_details %}
            <div class="column is-half">
                <div class="song-container">
                    <p class="title is-5">{{ song[2] }}</p>
                    <audio controls>
                        <source src="{{ song[6] }}" type="audio/mp3">
                        Your browser does not support the audio element.
                      </audio>
                      
                    <div class="rate">
                        <div class="star-rating" data-rating="{{ song[4] | int }}">
                            {% for i in range(song[4] | int) %}
                            <span class="star" style="color: #FFD700;">&#9733;</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        {% for comment in comments %}
        <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Comment
              </p>
            </header>
            <div class="card-content">
                <div class="content">
                    {{ comment[0] }}
                    <a href="#">@ {{ comment[2] }}</a>
                    <br>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</body>

</html>

{% endblock %}
